.header-blue {
    padding-bottom: 80px;
    font-family: Graphik-Regular, Graphik-Medium "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

@media (min-width:768px) {
    .header-blue {
        padding-bottom: 120px
    }
}

.header-blue .navbar {
    background: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: rgba(0, 0, 0, 0.603);
    border-radius: 0;
    box-shadow: none;
    border: none
}

@media (min-width:768px) {
    .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.header-blue .navbar .navbar-brand {
    font-weight: bolder;
    color: inherit
}

.header-blue .navbar .navbar-brand:hover {
    color: #8a05bea2
}

.header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: .5rem
}

@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0
    }
}

.header-blue .navbar .navbar-collapse span .login {
    color: #8b05be;
    font-weight: bolder;
    color: inherit;
    font-size: 18px;
    margin-right: .5rem;
    text-decoration: none;
    font-family: Graphik-Regular, Graphik-Medium "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

.header-blue .navbar .navbar-collapse span .login:hover {
    color: #8b05be
}

.header-blue .navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3)
}

.header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background: none
}

@media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem
    }
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem
    }
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.603);
    font-size: 18px;
    font-weight: bolder;
    color: inherit;
    font-family: Graphik-Regular, Graphik-Medium "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.603);
    color: #8a05bea2;
    background-color: transparent;
    font-family: Graphik-Regular, Graphik-Medium "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

.header-blue .navbar .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(197, 39, 39, 0.1);
    background-color: #fff;
    border-radius: 2px
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #000000
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #8a05bea2;
}

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    font-size: 18px;
    background-color: white;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 80px;
    color: #8a05bea2;
    box-shadow: none;
    text-shadow: none;
    padding: 0.8% 3.5% 0.8% 3.5%;
    background: #744f97;
    transition: background-color 0.20s;
    outline: none;
    color: white;
}

.header-blue .action-button:hover {
    color: #fff
}

.header-blue .navbar .form-inline label {
    color: #d9d9d9
}

.header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s
}

.header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc
}

.header-blue .hero {
    margin-top: 20px;
    text-align: left;
}

@media (min-width:768px) {
    .header-blue .hero {
        margin-top: 60px;
        text-align: left;
    }
}

.header-blue .hero h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.4;
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 1.2
    }
}

.header-blue .hero p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}
.btn-espaco{
    margin-bottom: 25%;
}

*/ .header-blue .phone-holder {
    text-align: right
}

.header-blue div.iphone-mockup {
    position: relative;
    margin-left: 2%;
    max-width: 950px;
    margin-top: 90px;
    display: inline-block
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: 100%;
}

.header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background-size: cover;
    background-position: center
}

.header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2
}

.tamanho-img {
    width: 40px;
    height: 25px;
}